{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
	<br>

    {% for listing in listings %}
	{% if listing.active == True %}
		<div class="article card">
			<a href="{% url 'itemListing' listing.id %}" style="text-decoration: none; color: black;">
				<div class="col-md-4">
					<img class="img-fluid" src="{{listing.image}} " alt="{{listing.image}}" style="max-height: 200px;">
				</div>
				<div class="card-body">
					<h3 class="card-title">{{listing.title}}</h3>
					<p><b>Price</b>: ${{listing.bid}}</p>
					<p>{{listing.description}} </p>
					<sub> Created: {{listing.dateCreated}} </sub>
				</div>
			</a>
		</div>
		<br>
	{% endif %}
	{% endfor %}
{% endblock %}