{% extends "auctions/layout.html" %}

{% block body %}
	<img src="{{item.image}}" alt="Img">
    <h2>Title: {{item.title}} </h2>
	<h5>Price $ {{item.bid}}</h5>
	
	{% if user.is_authenticated %}
		<form action="" method="post">
			{% csrf_token %}
			formulario para ofertar
			<input type="submit" value="Make bid">
		</form>

		<div class="watchlist">
			<a href="">Add to watchList (Icon to do)</a>
		</div>
	{% endif %}

	<p>Description {{item.description}} </p>
	<p>Tags {{item.category}} </p>
	<sub>Date of article creation {{item.dateCreated}} </sub>
	<br>
	<hr>
	<br>

	{% if user.is_authenticated %}
		<form action="" method="post">
			{% csrf_token %}
			formulario para agregar comentarios
			<input type="submit" value="Post">
		</form>
	{% endif %}
	<p>Comments To Do</p>
{% endblock %}